h1{color: rgb(0, 0, 0); margin-left: 7%;}
h2{color: rgb(0, 0, 0); margin-left: 7%;}
p{font-family: sans-serif; font-size:1em ; margin-left: 7%; margin-top: 4%; margin-right: 50%;}
body{
    background-color: rgb(255, 255, 255)   
}
ul{font: 1em sans-serif; margin-left: 7%;}
 #imagem{margin-left: %;}
